// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
	#contact {
		input[type=submit] {
			position: relative;
			background-color: inherit;
			border: 3px solid #999;
			color: #999;
			padding: 10px;
		}
	}
}